{% extends 'base.html' %} {% block title %} 404 {% endblock %} {% block body
    %}
    <div class="container">
      <h1>Oh NO! the app with 4 hours of dev time had an error! </h1>
      <p>{{data.text}}</p>
      <p> {{data.name}}</p>
    </div>
    
    {% endblock %}
    