{% extends 'base.html' %} {% block title %} About {% endblock %} {% block body
%}
<div class="container">
  <h1>About us n stuff</h1>
  <p>{{data.text}}</p>
  <p>Name = {{data.name}}</p>
</div>

{% endblock %}
