{% extends 'base.html' %} {% block title %} About {% endblock %} {% block body
    %}
    <div class="container">
      <h1>Home Page</h1>
        <img src = "{{url_for('static', filename = 'three.png')}}"> </img>
    </div>
    
    {% endblock %}
    